/*-- scss:defaults --*/


/* --- PRIMARY COLOR PALETTE --- */ 

$navy:        #0f172a !default;
$yellow:      #ffde59 !default;
$beige:       #f1f0ea !default;
$black:       #000000 !default;
$white:       #ffffff !default;

/* --- ACCENT COLOR PALETTE --- */

$lime:        #c1ff72 !default;
$pink:        #cd89dc !default;
$orange:      #f47d59 !default;
$red:         #ff3131 !default;
$cyan:        #5ce1e6 !default;

// gray-colors
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
// 


// gray-colors-map
$grays: (
  "100": $gray-100,
  "200": $gray-200,
  "300": $gray-300,
  "400": $gray-400,
  "500": $gray-500,
  "600": $gray-600,
  "700": $gray-700,
  "800": $gray-800,
  "900": $gray-900
) !default;
// 


// start color-map
$colors: (
  "navy":       $navy,
  "yellow":     $yellow,
  "beige":      $beige,
  "black":      $black,
  "white":      $white,
  
  "lime":       $lime,
  "pink":       $pink,
  "orange":     $orange, 
  "red":        $red,
  "cyan":       $cyan,
  
  "gray":       $gray-600,
  "gray-dark":  $gray-800,
  "gray-light": $gray-200

) !default;
// end color-map




// start theme-color-variables
$primary:       $navy      !default;
$secondary:     $beige     !default;
$success:       $lime      !default;
$info:          $yellow    !default;
$warning:       $red       !default;
$danger:        $cyan      !default;
$light:         $white     !default;
$dark:          $black     !default;
// end theme-color-variables


// scss-docs-start theme-colors-map
$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark
) !default;
// scss-docs-end theme-colors-map





// The contrast ratio to reach against white, to determine if color changes from "light" to "dark". Acceptable values for WCAG 2.2 are 3, 4.5 and 7.
// See https://www.w3.org/TR/WCAG/#contrast-minimum
$min-contrast-ratio:   7 !default;

// Customize the light and dark text colors for use in our color contrast function.
$color-contrast-dark:      $black !default;
$color-contrast-light:     $white !default;



// scss-docs-start theme-text-variables
$primary-text-emphasis:   shade-color($primary, 60%) !default;
$secondary-text-emphasis: shade-color($secondary, 60%) !default;
$success-text-emphasis:   shade-color($success, 60%) !default;
$info-text-emphasis:      shade-color($info, 60%) !default;
$warning-text-emphasis:   shade-color($warning, 60%) !default;
$danger-text-emphasis:    shade-color($danger, 60%) !default;
$light-text-emphasis:     $gray-700 !default;
$dark-text-emphasis:      $gray-700 !default;
// scss-docs-end theme-text-variables


// Characters which are escaped by the escape-svg function
$escaped-characters: (
  ("<", "%3c"),
  (">", "%3e"),
  ("#", "%23"),
  ("(", "%28"),
  (")", "%29"),
) !default;



// Prefix for :root CSS variables

$variable-prefix:             bs- !default; // Deprecated in v5.2.0 for the shorter `$prefix`
$prefix:                      $variable-prefix !default;


// Spacing
//
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.
// You can add more entries to the $spacers map, should you need more variation.

// scss-docs-start spacer-variables-maps
$spacer: 1rem !default;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
) !default;
// scss-docs-end spacer-variables-maps



// Position
//
// Define the edge positioning anchors of the position utilities.

// scss-docs-start position-map
$position-values: (
  0: 0,
  50: 50%,
  100: 100%
) !default;
// scss-docs-end position-map



// Body
//
// Settings for the `<body>` element.

$body-text-align:           null !default;
$body-color:                $navy !default;
$body-bg:                   $white !default;

$body-secondary-color:      rgba($body-color, .75) !default;
$body-secondary-bg:         $gray-200 !default;

$body-tertiary-color:       rgba($body-color, .5) !default;
$body-tertiary-bg:          $gray-100 !default;

$body-emphasis-color:       $black !default;





/* ============================================================
   LINKS
   ------------------------------------------------------------
   ============================================================ */

// --- Link variables ---
$link-color:                  $primary !default;
$link-decoration:             underline !default;
$link-shade-percentage:       20% !default;
$link-hover-color:            shift-color($link-color, $link-shade-percentage) !default;
$link-hover-decoration:       null !default;
$link-hover-font-weight:      bold !default;

$stretched-link-pseudo-element: after !default;
$stretched-link-z-index:        1 !default;

// --- Base link styles ---
a {
  color: $link-color;
  text-decoration: $link-decoration;
  transition: color 0.05s ease-in-out, font-weight 0.05s ease-in-out;

  &:hover,
  &:focus,
  &:active,
  &.active {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
    font-weight: $link-hover-font-weight;
  }
}

// --- Stretched link utility (Bootstrap compatibility) ---
.stretched-link {
  position: relative;

  &::#{$stretched-link-pseudo-element} {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: $stretched-link-z-index;
    content: "";
  }
}










// Paragraphs
//
// Style p element.

$paragraph-margin-bottom:   1rem !default;



// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

// scss-docs-start grid-breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
) !default;
// scss-docs-end grid-breakpoints

@include _assert-ascending($grid-breakpoints, "$grid-breakpoints");
@include _assert-starts-at-zero($grid-breakpoints, "$grid-breakpoints");


// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

// scss-docs-start container-max-widths
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px
) !default;
// scss-docs-end container-max-widths

@include _assert-ascending($container-max-widths, "$container-max-widths");


// Grid columns
//
// Set the number of columns and specify the width of the gutters.

$grid-columns:                12 !default;
$grid-gutter-width:           1.5rem !default;
$grid-row-columns:            6 !default;

// Container padding

$container-padding-x: $grid-gutter-width !default;





// Typography
//
// Font, line-height, and color for body text, headings, and more.

// scss-docs-start font-variables
// stylelint-disable value-keyword-case
$font-family-sans-serif:      system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
// stylelint-enable value-keyword-case
$font-family-base:            var(--#{$prefix}font-sans-serif) !default;
$font-family-code:            var(--#{$prefix}font-monospace) !default;

// $font-size-root affects the value of `rem`, which is used for as well font sizes, paddings, and margins
// $font-size-base affects the font size of the body text
$font-size-root:              null !default;
$font-size-base:              1rem !default; // Assumes the browser default, typically `16px`
$font-size-sm:                $font-size-base * .875 !default;
$font-size-lg:                $font-size-base * 1.25 !default;

$font-weight-lighter:         lighter !default;
$font-weight-light:           300 !default;
$font-weight-normal:          400 !default;
$font-weight-medium:          500 !default;
$font-weight-semibold:        600 !default;
$font-weight-bold:            700 !default;
$font-weight-bolder:          bolder !default;

$font-weight-base:            $font-weight-normal !default;

$line-height-base:            1.5 !default;
$line-height-sm:              1.25 !default;
$line-height-lg:              2 !default;

$h1-font-size:                $font-size-base * 2.5 !default;
$h2-font-size:                $font-size-base * 2 !default;
$h3-font-size:                $font-size-base * 1.75 !default;
$h4-font-size:                $font-size-base * 1.5 !default;
$h5-font-size:                $font-size-base * 1.25 !default;
$h6-font-size:                $font-size-base !default;
// scss-docs-end font-variables

// scss-docs-start font-sizes
$font-sizes: (
  1: $h1-font-size,
  2: $h2-font-size,
  3: $h3-font-size,
  4: $h4-font-size,
  5: $h5-font-size,
  6: $h6-font-size
) !default;
// scss-docs-end font-sizes

// scss-docs-start headings-variables
$headings-margin-bottom:      $spacer * .5 !default;
$headings-font-family:        null !default;
$headings-font-style:         null !default;
$headings-font-weight:        500 !default;
$headings-line-height:        1.2 !default;
$headings-color:              inherit !default;
// scss-docs-end headings-variables

// scss-docs-start display-headings
$display-font-sizes: (
  1: 5rem,
  2: 4.5rem,
  3: 4rem,
  4: 3.5rem,
  5: 3rem,
  6: 2.5rem
) !default;

$display-font-family: null !default;
$display-font-style:  null !default;
$display-font-weight: 300 !default;
$display-line-height: $headings-line-height !default;
// scss-docs-end display-headings

// scss-docs-start type-variables
$lead-font-size:              $font-size-base * 1.25 !default;
$lead-font-weight:            300 !default;

$small-font-size:             .875em !default;

$sub-sup-font-size:           .75em !default;

// fusv-disable
$text-muted:                  var(--#{$prefix}secondary-color) !default; // Deprecated in 5.3.0
// fusv-enable

$initialism-font-size:        $small-font-size !default;

$blockquote-margin-y:         $spacer !default;
$blockquote-font-size:        $font-size-base * 1.25 !default;
$blockquote-footer-color:     $gray-600 !default;
$blockquote-footer-font-size: $small-font-size !default;

$hr-margin-y:                 $spacer !default;
$hr-color:                    inherit !default;

// fusv-disable
$hr-bg-color:                 null !default; // Deprecated in v5.2.0
$hr-height:                   null !default; // Deprecated in v5.2.0
// fusv-enable

$hr-border-color:             null !default; // Allows for inherited colors

$hr-opacity:                  .25 !default;



$legend-margin-bottom:        .5rem !default;
$legend-font-size:            1.5rem !default;
$legend-font-weight:          null !default;

$dt-font-weight:              $font-weight-bold !default;

$list-inline-padding:         .5rem !default;

$mark-padding:                .1875em !default;
$mark-color:                  $body-color !default;
$mark-bg:                     $yellow !default;
// scss-docs-end type-variables



/* inline code style */
p code,
li code,
span code,
h1 code,
h2 code,
h3 code,
h4 code,
h5 code,
h6 code {
  background-color: $navy!important;
  color: $cyan!important;
  border-radius: 4px !important;
}


/* === Spacing for Section Headings === */

h1 {
  margin-top: 2rem !important;
}


h2 {
  margin-top: 4rem !important;
}

h3 {
  margin-top: 4rem !important;
}




/* ----------------------------------------------------- */
/* -------------        NAVBAR        ----------------- */
/* --------------------------------------------------- */

// scss-docs-start nav-variables
$nav-link-padding-y:                .5rem !default;
$nav-link-padding-x:                1rem !default;
$nav-link-font-size:                null !default;
$nav-link-font-weight:              null !default;
$nav-link-color:                    $navy !default;
$nav-link-hover-color:              $navy !default;

// scss-docs-end nav-variables


/* ================================
   Sidebar 
   ================================ */

// === Prevent sidebar from collapsing on scroll ===
.sidebar {
  position: fixed;
  height: 100vh;              // full viewport height
  overflow-y: auto;           // scroll within sidebar if needed

  // Example: add your background color variable if defined
  background-color: $beige;
}

// === Adjust main content so it doesn't hide behind fixed sidebar ===
.app-main {

  // offset for fixed sidebar width
  margin-left: 25vw;           // match your sidebar width (or use 320px)
}


/* ----------------------------------------------------- */
/* -------------       HEADINGS       ----------------- */
/* --------------------------------------------------- */

$headings-margin-bottom:      $spacer * .5 !default;
$headings-font-family:        null !default;
$headings-font-style:         null !default;
$headings-font-weight:        500 !default;
$headings-line-height:        1.2 !default;
$headings-color:              $white !default;

/* ----------------------------------------- */
  
  
       







// Pagination

// scss-docs-start pagination-variables
$pagination-padding-y:              1.5rem !default;
$pagination-padding-x:              .75rem !default;
$pagination-padding-y-sm:           .25rem !default;
$pagination-padding-x-sm:           .5rem !default;
$pagination-padding-y-lg:           .75rem !default;
$pagination-padding-x-lg:           1.5rem !default;

$pagination-font-size:              $font-size-base !default;

$pagination-color:                  var(--#{$prefix}link-color) !default;
$pagination-bg:                     var(--#{$prefix}body-bg) !default;


$pagination-focus-color:            var(--#{$prefix}link-hover-color) !default;
$pagination-focus-bg:               var(--#{$prefix}secondary-bg) !default;
$pagination-focus-outline:          0 !default;

$pagination-hover-color:            var(--#{$prefix}link-hover-color) !default;
$pagination-hover-bg:               var(--#{$prefix}tertiary-bg) !default;


$pagination-disabled-color:         var(--#{$prefix}secondary-color) !default;
$pagination-disabled-bg:            var(--#{$prefix}secondary-bg) !default;


// scss-docs-end pagination-variables





// Placeholders

// scss-docs-start placeholders
$placeholder-opacity-max:           .5 !default;
$placeholder-opacity-min:           .2 !default;
// scss-docs-end placeholders

// Cards

// scss-docs-start card-variables
$card-spacer-y:                     $spacer !default;
$card-spacer-x:                     $spacer !default;
$card-title-spacer-y:               $spacer * .5 !default;
$card-title-color:                  null !default;
$card-subtitle-color:               null !default;

$card-box-shadow:                   null !default;

$card-cap-padding-y:                $card-spacer-y * .5 !default;
$card-cap-padding-x:                $card-spacer-x !default;
$card-cap-bg:                       rgba(var(--#{$prefix}body-color-rgb), .03) !default;
$card-cap-color:                    null !default;
$card-height:                       null !default;
$card-color:                        null !default;
$card-bg:                           var(--#{$prefix}body-bg) !default;
$card-img-overlay-padding:          $spacer !default;
$card-group-margin:                 $grid-gutter-width * .5 !default;
// scss-docs-end card-variables







// Figures

// scss-docs-start figure-variables
$figure-caption-font-size:          $small-font-size !default;
$figure-caption-color:              var(--#{$prefix}secondary-color) !default;
// scss-docs-end figure-variables









/* --- Text wraps --- */

@mixin activity-box($bg-color, $text-color: $light, $padding: 60px) {
  color: $text-color;
  background-color: $bg-color;
  padding: $padding;
  box-sizing: border-box;
  font-size: 1.1rem;
  border-radius: 12px;
}

// Apply it here
.text-box-white {
  @include activity-box($light);
}

/* Presets */
.text-box-red   { @include activity-box($red,  $white); }
.text-box-white { @include activity-box($white, $black); }





/* === Custom Callouts ===*/


/* base styling */
@mixin callout-base($bg-color, $code-bg, $code-color, $border-color) {
  border-left: 6px solid $border-color !important;
  border-radius: 0.5rem !important;

  .callout-header {
    background-color: $bg-color !important;
    padding: 1rem 1.25rem !important;
    border-bottom: 2px solid #e2e8f0 !important;
  }

  .callout-title {
    font-size: 1.3rem !important;
    font-weight: 700 !important;
    line-height: 1.4 !important;
    margin: 0;
  }

  .callout-header code,
  .callout-title code,
  .callout-title-container code {
    background-color: $code-bg !important;
    color: $code-color !important;
    font-weight: 700 !important;
    border-radius: 4px !important;
    white-space: pre !important;
    font-size: 1.2rem !important;
    padding: .65rem 1rem !important;
  }
}




/* ($bg-color, $code-bg, $code-color, $border-color) */

/* Note */
.callout.callout-note {
  @include callout-base($beige, $navy, $lime, $navy);
}

/* Tip */
.callout.callout-tip {
  @include callout-base($navy, $navy, $cyan, $cyan);
}

/* Warning */
.callout.callout-warning {
  @include callout-base($beige, $navy, $lime, $navy);
}

/* Important */
.callout.callout-important {
  @include callout-base($beige, $navy, $lime, $navy);
}
